<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vinaygaba.browser">

    <application
        android:allowBackup="true"
        android:label="Browser"
        android:supportsRtl="true"
        >
        <activity
            android:name=".ShowcaseBrowserActivity"
            android:label="ShowcaseBrowserActivity"
            android:theme="@style/Theme.App.NoActionBar"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
