name: Android CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - uses: actions/cache@v1
        with:
          path: ~/.gradle/caches
          # Key inspired from here -
          # https://medium.com/@ychescale9/running-android-instrumented-tests-on-ci-from-bitrise-io-to-github-actions-a611e57ce71f
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}-${{ hashFiles('**/gradle/wrapper/gradle-wrapper.properties') }}
          restore-keys: ${{ runner.os }}-gradle-
      - name: Run Checks
        run: ./gradlew check --stacktrace

  paparazi-screenshot-tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code with lfs and cache
        uses: nschloe/action-checkout-with-lfs-cache@v1

      - name: set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11

      - name: Run Paparazzi Screenshot Tests
        run: ./gradlew :showkase-screenshot-testing-paparazzi-sample:verifyPaparazziDebug -PuseKsp=true --debug

      - name: Upload Screenshot Test Report
        uses: actions/upload-artifact@v3
        with:
          name: reports
          path: showkase-screenshot-testing-paparazzi-sample/build/reports/paparazzi/
          retention-days: 1

  ui-testing:
    runs-on: macos-10.15
    strategy:
      matrix:
        api-level: [ 26, 28, 29 ]
        target: [ default, google_apis ]
    steps:
      - uses: actions/checkout@v2
      - name: set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 11
      - name: Checkout Branch
        uses: actions/checkout@v2
      - uses: actions/cache@v1
        with:
          path: ~/.gradle/caches
          # Key inspired from here -
          # https://medium.com/@ychescale9/running-android-instrumented-tests-on-ci-from-bitrise-io-to-github-actions-a611e57ce71f
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*') }}-${{ hashFiles('**/gradle/wrapper/gradle-wrapper.properties') }}
          restore-keys: ${{ runner.os }}-gradle-

      - name: Run UI Tests w/ KAPT
        uses: reactivecircus/android-emulator-runner@v2
        with:
          emulator-build: 7425822
          api-level: ${{ matrix.api-level }}
          target: ${{ matrix.target }}
          arch: x86_64
          script: ./gradlew connectedCheck --no-daemon --stacktrace -PuseKsp=false

      - name: Run UI Tests w/ KSP
        uses: reactivecircus/android-emulator-runner@v2
        with:
          emulator-build: 7425822
          api-level: ${{ matrix.api-level }}
          target: ${{ matrix.target }}
          arch: x86_64
          script: ./gradlew connectedCheck --no-daemon --stacktrace -PuseKsp=true

      - name: Run Screenshot Tests
        uses: reactivecircus/android-emulator-runner@v2
        with:
          emulator-build: 7425822
          api-level: ${{ matrix.api-level }}
          target: ${{ matrix.target }}
          arch: x86_64
          script: ./gradlew executeScreenshotTests -PdirectorySuffix=Api${{ matrix.api-level }} -PprintBase64

      - name: Upload screenshot testing report
        uses: actions/upload-artifact@v3
        with:
          name: reports
          path: sample/build/reports/shot/debug/Api${{ matrix.api-level }}/verification/
          retention-days: 1

### Uncomment the jobs below if you want to generate and record screenshots. Once you download the
### artifact, place them under sample/screenshots/debug/

#      - name: Record screenshots
#        uses: reactivecircus/android-emulator-runner@v2
#        with:
#          emulator-build: 7425822
#          api-level: ${{ matrix.api-level }}
#          target: ${{ matrix.target }}
#          arch: x86_64
#          script: ./gradlew executeScreenshotTests -PdirectorySuffix=Api${{ matrix.api-level }} -Precord
#
#      - name: Upload screenshots in an artifact
#        uses: actions/upload-artifact@v3
#        with:
#          name: Api${{ matrix.api-level }}
#          path: sample/screenshots/debug/Api${{ matrix.api-level }}
#          retention-days: 1